* {
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}

.block-logo {
    background-color: #F0BE2E;
    width: 100px;
    height: 100px;
    float: left;
    line-height: 100px;
}

.block-menu {
    background-color: #F40F0F;
    height: 100px;
    margin-left: 100px;
    line-height: 100px;
}

.block-news {
    background-color: #AC4C4C;
    width: 100px;
    height: 300px;
    float: left;
    line-height: 300px;
}

.block-list {
    background-color: #F0BE2E;
    height: 300px;
    width: calc(65% - 50px);
    display: inline-block;
    line-height: 300px;
}

.block-nav {
    background-color: #333333;
    height: 451px;
    line-height: 451px;
    width: calc(35% - 50px);
    float: right;

}

.block-footer {
    background-color: #F0BE2E;
    height: 150px;
    float: left;
    line-height: 150px;
    width: calc(65% + 50px);
}

.block {
    text-align: center;
}

.block:first-child {
    border-right: 1px solid black;
}

.block:nth-last-child(3) {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.block:nth-last-child(4) {
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.block:nth-last-child(3) {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.block:nth-last-child(5) {
    border-bottom: 1px solid black;
}

.block:last-child {
    border-right: 1px solid black;
}